html {
	background: url(imgs/barcelona.png) no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	height: 100%;
}

ul {
	text-align: right;
	margin-right: 10px;
	background-color: rgba(0,0,0,0.75);
	padding: 5px;
}

ul li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;

}

a {
	text-decoration: none;
}

a:link {
	color: #fff;
}

a:hover {
	color: rgba(0,0,0,0.45);
}

a:visited {
	color: #d3d3d3;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#main-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: 100%;

}

#intro {
	flex: 1 1;
	min-width: 100px;
}

#line-one {
	margin: 100px 10px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.45);
}

#line-two {
	margin: 100px 20px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.45);
}

#line-thr {
	margin: 100px 30px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.45);
}

#middle {
	flex: 1 1;
	min-width: 100px;
}

#quote {
	flex: 1 1;
	min-width: 100px;
	background-color: rgba(0,0,0,0.45);
	transform: rotateY(300deg) rotateX(350deg);
}