body {
	position: relative;
}

h1, h2, h3 {
	margin: 0;
}

p {
	font-weight: 300;
}

.Blog-Posts {
	border: 1px solid #eee;
	padding: 10px;
	height: 15%;
	position: fixed;
	overflow: hidden;
}

.blog-post {
	background-color: rgba(0,0,0,0.75);
	margin: 15px 10px 10px 15px;
	padding: 10px;
}

#BlogWrapper {
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	width: 96%;
	height: 88%;
	/*margin-top: 5%;
	margin-bottom: 10%;*/
	margin: 2% 1% 10% 1%;
	padding: 10px;
	/*position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
}

#title {
	position: fixed;
	top: 50%;
	left: 50%;
	border: 2px solid #fff;
	padding: 5px;
}

#first-post {
	position: relative;
	float: left;
	width: 55%;
}

#second-post {
	position: relative;
	float: right;
	width: 35%;
}

#third-post {
	position: relative;
	float: left;
	width: 35%;
	margin-top: 1.5em;
}

#fourth-post {
	position: relative;
	float: right;
	width: 45%;
	margin-top: 1.5em;
}

#fifth-post {
	position: relative;
	float: left;
	width: 40%;
	margin-top: 1.5em;
}

#sixth-post {
	position: relative;
	float: right;
	width: 40%;
	margin-top: 1.5em;
}

#seventh-post {
	position: relative;
	float: left;
	width: 40%;
	margin-top: 1.5em;
}