html {
	background: url(../imgs/barcelona.png) no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	height: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
}

code {
	background: #303030;
	color: #7fffd4;
}

ul {
	text-align: right;
	margin: 0;
	/*margin-right: 10px;*/
	background-color: rgba(0,0,0,0.75);
	padding: 5px;
}

ul li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;

}

a {
	text-decoration: none;
}

a:link {
	color: #fff;
}

a:hover {
	color: rgba(0,0,0,0.45);
}

a:visited {
	color: #d3d3d3;
}

footer {
	position: fixed;
	margin: 0;
	bottom: 0;
	width: 100%;
}

#main-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: 100%;

}

#intro {
	flex: 1 1;
	min-width: 100px;
}

#line-one {
	font-size: 1.5em;
	margin: 100px 10px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.45);
}

#line-two {
	font-size: 1.5em;
	margin: 100px 20px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.45);
}

#line-thr {
	font-size: 1.5em;
	margin: 100px 30px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.45);
}

#middle {
	flex: 1 1;
	min-width: 100px;
}

#quote {
	align-self: flex-start;
	margin-top: 10em;
	font-size: 1.2em;
	color: rgba(255,255,255, 0.75);
	padding-left: 0.5em;
	/*width: 400px;*/
	flex: 1 1;
	min-width: 20%;
	background-color: rgba(0,0,0,0.45);
	-webkit-transform: rotate(-14deg)  skew(-10deg);
	-moz-transform: rotate(-14deg)  skew(-10deg);
	transform: rotate(-14deg)  skew(-10deg);
}

#contact {
	margin-left: 1.5em;
	padding: 0.5em;
	background-color: rgba(0,0,0,0.45);
	display: inline-block;

}

#linkedin, #github, #gplus, #twitter {
	background-image: url(../imgs/icons.jpg);
	background-repeat: no-repeat;
	float: left;
	margin: 0.2em;
}

#twitter {
	height: 66px;
	width: 66px;
	background-position: -902px -161px;
}

#gplus {
	height: 66px;
	width: 66px;
	background-position: -14px -457px;
}

#github {
	height: 66px;
	width: 66px;
	background-position: -14px -87px;
}

#linkedin {
	height: 66px;
	width: 66px;
	background-position: -754px -161px;
}

#backg {
	background-color: rgba(0,0,0,0.75);
	margin: 15px 10px 10px 15px;
	padding: 10px;
}